<% layout('./layouts/boilerplate')  %>
<a class="btn btn-dark" href="/spots" role="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
</svg>
</a>
<div class="container m-5"> 
    <div class="card col-6 offset-3" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title"><%= spots.title %></h5>
        <p class="card-text"><%= spots.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= spots.location %> </li>

      </ul>
      <div class="card-body">
        <form action="/spots/<%= spots._id %>/?_method=DELETE" method="POST">
          <a class="btn btn-info btn-sm" href="/spots/<%= spots._id %>/edit ">Edit</a>
          <button class="btn btn-danger btn-sm">Delete</button>
      </form>
      </div>
    </div>
  </div>