<% layout('./layouts/boilerplate')  %>
<a class="btn btn-dark" href="/spots" role="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
</svg>
</a>
<div class="container m-5"> 
    <div class="card col-6 offset-3" style="width: 100%;">
      <img src="<%= spots.image %> " alt="" class="card-img-top img-fluid">
      <div class="card-body">
        <h5 class="card-title"><%= spots.title %></h5>
        <p class="card-text"><%= spots.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= spots.location %> </li>

      </ul>
      <div class="card-body">
        <form action="/spots/<%= spots._id %>/?_method=DELETE" method="POST">
          <a class="btn btn-info btn-sm" href="/spots/<%= spots._id %>/edit ">Edit</a>
          <button class="btn btn-danger btn-sm">Delete</button>
      </form>
      </div>
    </div>

      <div class="row">
        <div class="col-6 offset-3" style="width: 100%;">
            <h3 class="text-center mt-3">Leave a Review</h3>
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Reviews</button>
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Reviews</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <p>What do you think about <%= spots.title %>?</p>
            <form class="needs-validation" action="/spots/<%= spots._id %>/reviews" method="POST" novalidate >
            <div class="input-group">
              <label for="rating" class="form-label">Rating</label>
              <input type="range" class="form-range" min="0" max="5" step="0.5" id="rating" name="review[rating]">
            </div>
            <div class="form-floating mt-3">
              <textarea class="form-control" placeholder="Leave a comment here" id="comment" name="review[body]"style="height: 100px" required></textarea>
              <label for="comment">Comment</label>
            </div>
            <button class="btn btn-success mt-3">Review</button>       
          </form>
          </div>
        </div>
      </div>
  </div>